h3 {
  margin: 20px;
  padding: 20px;
  color: blue;
  font-size: 30px;
}
.para {
  font-size: 25px;
  position: 20px;
  background-color: deeppink;
  color: white;
  border-radius: 10px;
  width: 900px;
  margin: 80px;
  padding: 60px;
}
.buton {
  background-color: white;
  color: deeppink;
  border-radius: 10px;
}
