.list{display:flex;flex-direction: row;flex-wrap:wrap;margin: 20px;}
.card{height:460px;width:300px;position: 15px;margin: 15px;}
.image{height:300px;width:260px;padding:15px;}
.text{padding-left: 30px;padding-bottom: 10px;padding-right: 10px;font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
